.gitbook-plugin-modal {
  position: fixed;
  height: 100%;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}

.gitbook-plugin-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 80%;
  max-height: 80%;
  overflow: scroll;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #999;
  z-index: 3;
}

.adsbygoogle {
  z-index: 4;
}